.order-placed-container {
  background: linear-gradient(
    to bottom right,
    rgb(163, 233, 238),
    rgb(0, 140, 255)
  );
  min-height: 400px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-weight: bold;
}

.order-placed-text {
  font-size: 36px;
  margin-bottom: 20px;
  background-image: linear-gradient(to bottom right, #211b1f, #00feb668);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.continue-shopping-button {
  background-color: #ffffff;
  color: rgb(163, 233, 238);
}

.continue-shopping-button:hover {
  background-color: rgb(163, 233, 238);
  color: #ffffff;
}
